:root {
  --primary-color: #f5deb3;
  --font-family: Arial, Helvetica, sans-serif;
  --text-align: center;
}
body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--font-family);
  text-align: var(--text-align);
}
